@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
	font-family: 'Montserrat', sans-serif;
}

#taula, tr, td {
	border-collapse: collapse;
	border: 1px solid black;
}

tr, td {
	height: 30px;
	width: 30px;
}

#btn-start {
	display: inline;
}

#canvas {
	border: 1px solid #333;
}

